@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-neutral-950 text-neutral-100 font-sans;
}

#root {
  @apply min-h-screen;
}
